@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');


#logo {
  color: green;
  font-family: 'sofia';
  text-shadow: 3px 3px 3px #ababab;
  margin: 50px;
  display: flex;
  justify-content: center;
}

.btns {
  display: flex;
  justify-content: center;
}

.button1{
  width: 200px;
  cursor: pointer;
}
.page{
  background-color: hsl(32, 83%, 95%);
  box-shadow: rgb(226, 223, 221) 10px 10px 0px 0px ;
  border-radius: 50px;
  
}

.subBtn{
  display: flex;
  justify-content: center;
}